body {
        background-color: rgb(243, 174, 229);
      }
      #wrapper {
        background-color: rgb(129, 180, 81);
      }
      h1 {
        background-color: rgb(243, 174, 229);
      }
      ul {
        text-align: center;
      }
      h1, p {
        text-align: center;
        color: rgb(105, 47, 94);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
      }
    h2, p {
      text-align: center;
   
    }
      li {
        display: inline;
        padding: 0.5em;
      }
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: rgb(243, 174, 229);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /*   min-height: 100vh; */
      }
      nav {
        background-color: rgb(129, 45, 100);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        position: sticky;
        top:0;
      }
      
      nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
      }
      
      nav li {
        height: 50px;
      }
      nav a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: rgb(255, 210, 242);
      }
      
      nav a:hover {
        background-color: #ab628f;
        color:rgb(255, 255, 255);
      }
      
      nav li #active{
        background-color:rgb(242, 237, 246);
        color:rgb(157, 221, 242);
      }

      nav li:first-child {
        margin-right: auto;
        background-color:rgb(255, 250, 227);
      }
      nav li:first-child a {
        color: #e164c2;
        font-weight: 800;
        ;
      }
      nav li:first-child a:hover {
        background-color: rgb(129, 180, 81);
        color: #000;
      }
      
      /* Typography Styles */
      
      h1,h2,h3,h4,h5,h6{
        color:#4d144e;
        letter-spacing:0.02em;
        padding-bottom:10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      a:link, a:visited {
        text-decoration: none;
      }
      
      a:link, a:active {
        text-decoration: none;
      }
      p {
        font-size:1em;
        line-height:1.4em;
      }
            
      .A {
      /*   background-color:rgba(0,0,0,0.1); */
        margin:50px 0px;
        padding:20px 30px;
      }
      
      .textbox-reg {
        max-width:60%;
      }
      main{
        align-items: center;
      }
      /* Images Styles */

       .grid-container {
          display: grid;
          grid-template-columns: auto auto auto;
          background-color: rgb(129, 180, 81);
          padding: 10px;
        }
        .grid-item {
          background-color: rgba(250, 222, 245, 0.8);
          padding: 20px;
          font-size: 30px;
          text-align: center;
        }
      
      
      